[Desktop Entry]
Type=Application
Exec=/usr/bin/seafile-applet
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Seafile
Comment=Seafile Synchronization Applet
